*{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

/* nav section started */

.logo{
    position: absolute;
    left: 8.33%;
    right: 74.79%;
    top: 0.1%;
}

 

.menus, .logo{
    display: flex;
    margin-top: 60px;
}

.menu-items{
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    list-style: none;
    font-size: 16px; 
    position: absolute; 
    justify-content: end;
}

ul li{
    padding-right: 30px; 
} 

li:hover{
    color: blueviolet;
    font-weight: 800;
    cursor: pointer;
} 
/* nav section ended */

 /* banner area started  */
.slogan-left{
    position: absolute;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
}

.msg-big{ 
    font-size: 50px;
    font-weight: 700;
}

.btn-prebook{
  color: white;
  margin-top: 30px;
  background-color: #E02C6D; 
  padding: 10px 35px ;
  border-radius: 30px; 
  border-style: none;
}

button:hover{ 
     cursor: pointer; 
     font-weight: 800; 
     background-color: blueviolet;
}

.camera-right{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 1100px;
}


 /* banner area ended  */

 /* Our Partner Logos started */

 .clients-logo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
 } 

 .hr-line{ 
    width: 1100px;
    margin-top: 140px;
    height: 110px; 
 }
 /* Our Partner Logos ended */